div, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
  color: #151515;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 10px 0;
}

h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 24px;}
h4{font-size: 20px;}

body, div, p {
  font-size: 16px;
}

a {
  color: #6598b8;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

a img {
  border: none;  
}

code {
  color: #3366cc;
  font-style: italic;
}

nav{
  display: inline-block;
  margin-left: 98px;
  width: 500px;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
}

.alignleft{
  float: left;
  margin: 5px 10px 5px 0;
}

.alignright{
  float: right;
  margin: 5px 0 5px 10px;
}

.box, .box2, .box5{
  display:inline-block;
  margin:5px;
  overflow: hidden;
  padding:20px;
  vertical-align: middle;
}
.box{
  height:190px;
  width: 400px;
}
.box div{
  height: 200px;
  text-align: center;
  vertical-align: middle;
  width: 380px;
}
.box2{
  min-height:1490px;
  overflow: auto;
  text-align:justify;
  vertical-align:top;
  width: 810px;
}
.box4{
  height: 16px;
  width: 70px;
}
.box5{
  height: 16px;
  padding:17px;
  width: 16px;
}
.grid{
  background: transparent radial-gradient(circle at 0% -20% , #ffffff 0%, #b5b5b5 70%) repeat scroll 0% 0%;
  margin: 0 auto;
  padding: 0 100px;
  width: 860px;
}
.comment{
  min-height: 80px;
  padding-top:15px;
}
.comment .name{
  display: inline-block;  
  width: 530px;
}
.comment .time{
  color: #AAA;
  display: inline-block;  
  width: 530px;
  font-size:11px;
}
.comment .gravatar{
  padding-right: 10px;
}
#helpme{
  text-align:justify;
}
#copyright{
  font-size: 11px;
  line-height: 14px;
  padding: 0;
  margin: 0;
  color: #777;
  text-align: right;
}
#dtimer{
  font-size: 11px;
  line-height: 14px;
  padding: 0;
  margin: 0;
  color: #777;
  text-align: right;
}
