div, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
}

h1, h2, h3, h4, p {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 10px 0;
}

h4{
  font-weight: normal;
  font-size: 11pt;
}

p {
  font-size: 9pt;
}

a {
  color: #6598b8;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

a img {
  border: none;  
}

code {
  color: #3366cc;
  font-style: italic;
}

.alignleft{
  float: left;
  margin: 5px 10px 5px 0;
}

.alignright{
  float: right;
  margin: 5px 0 5px 10px;
}

.grid-item, .box{
  background-color: #131313;
  box-shadow: 10px 10px 5px #090909,
            1px 1px hsl(0, 0%, 13%),
            2px 2px hsl(0, 0%, 12%),
            3px 3px hsl(0, 0%, 11%),
            4px 4px hsl(0, 0%, 10%),
            5px 5px hsl(0, 0%, 9%),
            6px 6px hsl(0, 0%, 8%),
            7px 7px hsl(0, 0%, 7%),
            8px 8px hsl(0, 0%, 6%);
  display:inline-block;
  height:200px;
  margin:10px;
  overflow: hidden;
  padding:20px;
  vertical-align: middle;
  width: 200px;
}

.box2{
  height:980px;
  overflow: auto;
  vertical-align:top;
  width: 720px;
}
.box3{
  width: 460px;
}
.grid{
  margin: auto 0;
  width: 1200px;
}
.comment{
  min-height: 80px;
  padding-top:15px;
}
.comment .name{
  display: inline-block;  
  width: 530px;
}
.comment .time{
  color: #AAA;
  display: inline-block;  
  width: 530px;
  font-size:11px;
}
.comment .gravatar{
  padding-right: 10px;
}
#helpme{
  text-align:justify;
}
#copyright{
  font-size: 11px;
  line-height: 14px;
  padding: 0;
  margin: 0;
  color: #777;
  text-align: right;
}
#dtimer{
  font-size: 11px;
  line-height: 14px;
  padding: 0;
  margin: 0;
  color: #777;
  text-align: right;
}
